@using TicketTracker.Application.Tickets.Commands.CreateTicket
@using TicketTracker.Application.Tickets;

@model CreateTicketCommand

@{
    ViewData["Title"] = "Create Ticket";
}



<h3>Create New Ticket</h3>

<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/TicketTracker/CreateTicket" method="post">
            <input asp-for="TicketTypeConfigurationId" class="form-control" id="TicketTypeConfigurationId" type="hidden" />


            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here"  style="height: 100px" asp-for="ShortDescription"></textarea>
                <label asp-for="ShortDescription">ShortDescription</label>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px" asp-for="Description"></textarea>
                <label asp-for="Description">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            

            <div class="form-floating mb-3">
                <select asp-items="ViewBag.Projects" class="form-select" id="Projects" asp-for="ProjectConfigurationId">
                    <option disabled selected>Click to select project</option>

                    
                </select>
                <label >Projects:</label>
            </div>          

            <div class="form-floating mb-3">
                <select class="form-select" id="Environments" >
                </select>
                <label id="Environments">Environments:</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="TicketTypes" asp-for="TypeId">
                </select>
                <label id="TicketTypes">Ticket types:</label>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="TicketSlas" asp-for="TicketSlaConfigurationId">
                </select>
                <label id="TicketSlas">Select SLA:</label>
            </div>

@*             <div class="form-floating mb-3">
                <select asp-items="ViewBag.projectConfigurations" class="form-select" id="ProjectConfigurationId" asp-for="ProjectConfigurationId">
                </select>
                <label asp-for="ProjectConfigurationId">Project and Environment: </label>
            </div> *@





@*             <div class="form-floating mb-3">
                <select class="form-select" id="TypeId" name="TypeId">

                    @foreach (var prio in ViewData["ticketTypeDtos"] as IEnumerable<TicketTypeDto>)
                    {
                        <option value="@prio.Id">@prio.TypeName</option>
                    }



                </select>
                <label for="TypeId">Ticket type: </label>
            </div> *@


            <div class="form-group mb-3">
                <input class="btn btn-primary" type="submit" value="Create">
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/TicketTracker/CreateTicket.js"></script>
   
}