html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-pills .custom-pill {
    background-color: #cbcbcb; /* Custom background color */
    color: #000000; /* Text color */
}

/* Active pill state */
.nav-pills .custom-pill.active {
    background-color: #808080; /* Darker shade for active pill */
    color: white; /* Active text color */
}

/* Hover effect */
.nav-pills .custom-pill:hover {
    background-color: #258cfb;
    color: #ffffff;
}
