@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



<div class="col-12" >
                <div class="form-control m-2">
                    <button type="button" class="btn btn-secondary">Expand</button>
                    <button type="button" class="btn btn-secondary">Collapse</button>
                </div>



                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">${comment.id}</div>
                    <div class="card-body">


                        <p class="card-text">${comment.message}</p>

                    </div>
                </div>


                <div class="card border-success mb-3" style="max-width: 18rem;">
                    <div class="card-header bg-transparent border-success">Header</div>
                    <div class="card-body text-success">
                        <h5 class="card-title">Success card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent border-success">Footer</div>
                </div>

    <div class="card text-bg-info  mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">fajniejszy niebieski kolor karty.</p>
                    </div>
                </div>

                <div class="card text-bg-light mb-3" style="">
                    <div class="card-header pt-1 pb-1 ">Header</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card text-bg-secondary mb-3" style="">
                    <div class="card-header pt-2 pb-1 ">#1   2023-11-23 11:23  by  pawel.kokoszka@test.pl </div>
                    <div class="card-body">
                        <p class="card-text">trzecia</p>
                    </div>
                </div>

                <div class="card text-bg-primary mb-3" style="">
                    <div class="row card-header pt-2 pb-1 ">
                        <label class="col text-sm">druga 2023-11-23 11:23</label>
      
                        <label class="col text-sm-end">user: pawel.kokoszka@test.pl</label>
        
                     </div>
                    <div class="card-body">
                        <p class="card-text">druga</p>
                    </div>
                </div>

                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Ostatnia</div>
                    <div class="card-body">


                        <p class="card-text">Ostatnia</p>

                    </div>
                </div>

    <a class="btn btn-primary mb-3 " asp-controller="TicketTracker" asp-route-Id="1177" asp-action="Edit" >Edit this ticket</a>

    <a class="btn btn-outline-primary mb-3 " data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Tooltip on top" asp-controller="TicketTracker" asp-route-Id="1177" asp-action="Edit">Edit this ticket</a>

    <a class="btn btn-primary mb-3 disabled" asp-controller="TicketTracker" asp-route-Id="1177" asp-action="Edit" disabled>Edit this ticket</a>

    <a class="btn btn-outline-primary mb-3 disabled" asp-controller="TicketTracker" asp-route-Id="1177" asp-action="Edit" disabled>Edit this ticket</a>
    <div>
        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Tooltip on top">
        Tooltip on top
    </a>

    </div>

</div>





<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" 
        data-bs-custom-class="custom-tooltip" data-bs-title="This top tooltip is themed via CSS variables.">
    Custom tooltip
</button>













